<div class="sidenav">
  <div class="round" routerLink="" [routerLinkActiveOptions]="{exact:
    true}" routerLinkActive="active">
    <span>
      <b class="fa fa-home"></b>
    </span>
  </div>
  <div class="round" [ngStyle]="{'background-image': 'url(' + login.imagePath + ')'}" routerLink="/profile" routerLinkActive="active">
    <span>
      <b *ngIf="login.imagePath === ''"  class="fa fa-user"></b>
    </span>
  </div>
  <div class="following">
    <div *ngFor="let follow of following" title="@{{follow.username}}" class="round hasText" [ngStyle]="{'background-image': 'url(' + follow.imagePath + ')'}">
      <span>
        <b *ngIf="follow.imagePath === ''"> {{follow.firstName.charAt(0) + follow.lastName.charAt(0)}}</b>
      </span>
    </div>
  </div>
</div>
<div class="sideoptions">
    <div class="round logout" (click)="logout()">
      <span>
        <b class="fa fa-sign-out"></b>
      </span>
    </div>
</div>
