.sidenav {
  height: 100vh;
  max-height: 100vh;
  width: 5rem;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #212121;
  text-align: center;
  padding-top: 1rem;
  box-shadow: 0 4px 2px 2px black;
}

.sideoptions {
  z-index: 1;
  height: 5rem;
  width: 5rem;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: #424242;
  text-align: center;
}

b {
  color: white;
  font-size: 2rem;
  display: block;
}

.round{
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  background: #616161;
  transition: border-radius 0.2s, background 0.2s, box-shadow 0.2s;
  margin-bottom: 1rem;
  background-size: cover;
}

.hasText {
  line-height: 3rem;
}

.round:hover {
  border-radius: 30%;
  background: #039BE5;
  background-size: cover;
  box-shadow: 0 0 0 0.1rem #E0E0E0;
}

.logout {
  margin-top: 0.75rem;
  background: #ef5350;
}

.logout:hover {
  background: #d32f2f;
  box-shadow: 0 0 0 0 #EEEEEE;

}

div.active{
  border-radius: 30%;
  background: #29B6F6;
  box-shadow: 0 0 0 0.1rem #FAFAFA;
  background-size: cover;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

*:focus {
  outline: none;
}

.following {
  overflow-y: auto;
  max-height:  calc( 100% - 14rem );
  padding-top: 0.5rem;
  border-style: solid;
  border-width: 0.05rem;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: white;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
