.posts {
  overflow-x: hidden;
  background-color: #F5F5F5;
}

.card {
  margin: 1rem;
}

.clickablecard{
  cursor: pointer;
}

.clickablecard:hover{
  cursor: pointer;
  box-shadow: 0 0 0.5rem #039BE5;
}
