<div class="posts">
  <div class="row">
    <div class="col-sm-12">
        <div class="card topCard" >
          <div class="card-body">
            <h3 class="card-title">What are you up to?</h3>
            <div class="row">
              <div class="col-sm-11">
                <form>
                    <div class="form-group">
                      <input [(ngModel)]="title" placeholder="Title" name="title" class="form-control">
                    </div>
                    <div class="form-group">
                      <textarea [(ngModel)]="message" name="message" placeholder="I'm doing..." class="form-control" rows="4"></textarea>
                    </div>
                </form>
              </div>
              <div class="col-sm-1">
                  <div class="send" [ngClass]="{'disabled' : !canPost()}"  (click)="canPost() ? post() : null">
                      <b class="fa fa-send"></b>
                    </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="suggestions.length !== 0" class="card topCard" >
          <div class="card-body">
              <h3 class="card-title">Suggestions</h3>
              <div  class="suggestions">
                <div class="card suggestionCard" *ngFor="let suggestion of suggestions">
                  <div class="text-muted" style="text-align: right;">
                    <b style="cursor: pointer;" (click)="notInterested(suggestion.username)" class="fa fa-times crossBtn"></b>
                  </div>
                  <div routerLink="/profile/user/{{suggestion.username}}" style="cursor: pointer;" class="round" [ngStyle]="{'background-image': 'url(' + suggestion.imagePath + ')'}">
                      <b *ngIf="suggestion.imagePath === ''"> {{suggestion.firstName.charAt(0) + suggestion.lastName.charAt(0)}}</b>
                  </div>
                  <div class="text-muted"><b routerLink="/profile/user/{{suggestion.username}}" class="link">@{{suggestion.username}}</b></div>
                </div>
              </div>
            </div>
          </div>

        <div routerLink="/post/{{post.id}}" class="card topCard clickablecard" *ngFor="let post of posts">
          <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <h6><b class="link" routerLink="/profile/user/{{post.username}}">@{{post.username}}</b> - {{post.postedOn.toLocaleString()}}</h6><br>
            <p class="card-text">{{post.message}}</p>
            <h6 *ngIf="post.comments.length !== 0">Comments {{post.comments.length}}</h6>
            <div *ngFor="let comment of post.comments.slice(0, 1)" class="card">
              <div class="card-body">
                <h6><b class="link" routerLink="/profile/user/{{comment.username}}">@{{comment.username}}</b> - {{comment.postedOn.toLocaleString()}}</h6><br>
                <p class="card-text">{{comment.message}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
