<h1 *ngIf="isLoading">Loading...</h1>

<div class="profileinfo">
  <div class="row">
    <div class="col-sm-1">
        <div class="round" [ngStyle]="{'background-image': 'url(' + login.imagePath + ')'}">
          <b class="letters" *ngIf="login.imagePath === ''">{{login.firstName.charAt(0) + login.lastName.charAt(0)}}</b>
        </div>
    </div>
    <div class="col-sm-7">
      <div class="profiletext">
        <h1>{{login.firstName}}  {{login.lastName}}</h1>
        <h2>@{{login.username}}</h2>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="profiletext">
        <!-- <h3>Posts 100</h3>
        <h3>Followers 100</h3>
        <h3>Following 100</h3> -->
      </div>
    </div>
    <div class="col-sm-1">
      <div class="profileoptions">
          <div class="menu">
              <button class="dropdown-item" style="cursor: pointer;" type="button" routerLink="edit"><b class="fa fa-edit"></b> Edit</button>
              <button class="dropdown-item" style="cursor: pointer;" type="button" routerLink="delete"><b class="fa fa-trash"></b> Delete</button>
          </div>
      </div>
    </div>
  </div>
</div>
<app-profile-detail-posts *ngIf="!isLoading"></app-profile-detail-posts>


