.profileinfo {
  overflow-x: hidden;
  background: #F5F5F5;
}

.round{
  max-height: 9rem;
  max-width: 9rem;
  min-height: 9rem;
  min-width: 9rem;
  line-height: 8.5rem;
  margin: 1rem;
  text-align: center;
  border-radius: 50%;
  background: #616161;
  transition: border-radius 0.2s, background 0.2s;
  margin-bottom: 1rem;
  background-size: cover;
}

.letters {
  font-size: 6rem;
  color: white;
  user-select: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.profiletext {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {

  .round {
    max-height: 7rem;
    max-width: 7rem;
    min-height: 7rem;
    min-width: 7rem;
    line-height: 6.5rem;
  }

  .letters {
    font-size: 4rem;
  }
}
