<div class="container">
  <h1 style="margin-top: 1rem; margin-bottom: 2rem;">LetYouKnow</h1>

  <div *ngIf="wrong" class="alert alert-danger">
      <strong>Something went wrong!</strong> Check your username and password.
  </div>

  <div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
      <form>
        <div class="form-group" [ngClass]="{'has-error': wrong}" >
          <label for="username"> Username </label>
          <input [(ngModel)]="username" name="username" class="form-control">
        </div>
        <div class="form-group" [ngClass]="{'has-error': wrong}" >
          <label for="password" > Password </label>
          <input [(ngModel)]="password" name="password" class="form-control" type="password">
        </div>
        <button [disabled]="isLoggingIn" class="btn btn-success" type="submit" (click)='login()'> Login </button>
        <button [disabled]="isLoggingIn" class="btn btn-primary" type="submit" routerLink='../register'> Go register </button>
      </form>
    </div>
  </div>




  <div style="overflow-x: hidden; overflow-y: hidden;">
      <div style="margin-top: 1rem;" class="row" *ngIf="isLoggingIn">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-1">
            <div class="loader"></div>
        </div>
        <div class="col-sm-5">
        </div>
      </div>
  </div>
</div>
