<div class="posts">
  <div class="row">
    <div class="col-sm-12">
        <div class="card clickablecard" *ngFor="let post of posts">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="card-title">{{post.title}}</h4>
                  <h6>{{post.postedOn}}</h6><br>
                  <p class="card-text">{{post.message}}.</p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
