body {
  background-color: #EEEEEE;
}

.clickablecard{
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.clickablecard:hover{
  cursor: pointer;
  box-shadow: 0 0  0 0.15rem #039BE5;
}

h6 > b {
  color: #039BE5;
}
